.password-strength__text {
  font-size: 25px;
  margin-bottom: 10px;
}

.weak {
  color: #ef3b3b;
}

.good {
  color: orange;
}

.strong {
  color: green;
}

input {
  padding: 22px;
  border-radius: 5px;
  font-size: 30px;
  border: 2px solid;
  outline: none;
}

input.weak {
  border-color: #ef3b3b
}

input.good {
  border-color: orange;
}

input.strong {
  border-color: green;
}

p {
  line-height: 20px;
}
